* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-width: 100vw;
}

.top-bar-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.top-bar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* border: solid 1px black; */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 555px;
}

.button-tryfree {
    width: 178px;
    height: 40px;
    background-color: #706FE5;
    color: white;
    border-radius: 12px;
    border-style: none;
}

.top-bar-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* border: solid 1px black; */
}

.heading-top-bar-2 {
    font-size: 34px;
    font-weight: bold;
    width: 393px;
    color: #151D48;
    padding-top: 10px;
}

.button-search {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #706FE5;
    border-radius: 12px;
    border-style: none;
}

.banner-container {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.banner-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 20px;

}

.b1 {
    font-size: 16px;
    width: 18vw;
    height: 14vh;
    color: white;
    background-image: linear-gradient(322.23deg, #4776E6 10%, #8E54E9 100%);
    border: solid black 1px;
    border-radius: 4px;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    height: 20vh;
    border: 2px dashed #888888;
    border-radius: 12px;
}

.data-p {
    color: #49596D;
    font-size: 18px;
    padding-bottom: 10px;
}

.data-h5 {
    font-size: 22px;
    color: #5345bf;
}

.referral-container-h3 {
    color: #49596D;
}

.referral-container {
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
}


.referral-container-h {
    width: 60vw;
    border-bottom: 1px solid #4776E699;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.referral-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: black solid 1px;
    height: 20vh;
}

.link-h3{
    font-size: 24px;
    color: #49596D;
    margin-bottom: 20px;
}

.referral-input {
    color: #888888;
    border-radius: 12px;
    height: 30px;
    width: 600px;
    padding-left: 10px;
    border: solid 2px #888888;
}

.referral-button-copy {
    background: linear-gradient(323.76deg, #4776E6 10%, #8E54E9 100%);
    padding: 8px 20px 8px 20px; 
    border-radius: 50px;
    color: white;
    border-style: none;
}

.referral-code-input {
    color: #888888;
    border-radius: 12px;
    height: 30px;
    width: 100px;
    padding-left: 10px;
    border: solid 2px #888888;
}